.search_box {
  display: flex;
  gap: 10px;
  justify-content: center;
  background-color: white;
  padding: 20px;
}

.search_input {
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 10px;
  outline: transparent;
  background-color: rgb(216, 213, 213);
}
.search_input:hover {
  border-color: #646cff;
}
.search_input:focus,
.search_input:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.search_input::placeholder {
  color: rgb(71, 67, 67);
  font-size: 12px;
}
