.image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}
.image:hover {
  transform: scale(1.1);
  box-shadow: 1px 1px 5px 3px rgba(26, 68, 86, 0.42);
  border-radius: 2px;
}
